<h1>Billboard Top Hits!</h1>

<p>
  Check out this week's top 100 hits from all your favorite artists! We're publishing the most up to date billboard hits from the U.S.A. and Europe! Click on the links above to see the most popular hits of the week.
</p>

<% @boards.each do |b| %>


<% end %>