

<ul id="horizontal-list">
  <li>
    <%= link_to 'HOME', root_path %>
  </li>
  <li>
    <%= link_to 'TOP 100 US', '/boards/1' %>
  </li>
  <li>  
    <%= link_to '100 EURO', '/boards/2' %>
  </li>
</ul>
</br>